spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
  mail:
    host: smtp.gmail.com
    port: 587
    username: onkargaikwad0020@gmail.com
    password: tamluplssfyhnico
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8096
